.product-imgs {
    width: 170px;
    height: 180px;
    border: 10px solid white;
    overflow: hidden;
    box-shadow: 0 0 5px;
    margin-bottom: 30px;
    margin: 5px;
}


h1 .shope-name {
    text-align: center;
    margin-top: 10px;
    font-size: 70px;
    color: black;
}

